# Server Configuration
PORT=1323
LOG_LEVEL=info

# Database Configuration
# Format: postgres://user:password@localhost:5432/dbname?sslmode=disable
DATABASE_URL=postgres://postgres:postgres@db:5432/drones?sslmode=disable

# Security
JWT_SECRET=super-secret-key-change-me-in-production
JWT_TTL=24h

# Domain Logic
AVG_SPEED_MS=10
